.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
}

.grid-item {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  mat-card-title {
    font-size: 18px;
    font-weight: 500;
  }

  mat-card-content {
    margin-top: 15px;
  }

  .subtitle {
    margin: 5px 0;
    text-align: start;
  }
}

.container-filtro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      flex: 1;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      border-radius: 50%;
      transition: background-color 0.2s ease;
    }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}